*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
font-family: "Roboto",sans-serif;
}

button{
    border:none;
}

.main-header{
    width:1456px;
    background-color: rgb(238,238,238);
    padding-top:40px;
}

.wrapper{
    width:1160px;
    margin:auto;
}

.wrap{
    width:1160px;
    margin:auto;
    display: flex;
}

.header-navigator{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.header-navigator__logo:hover{
  fill: rgb(48,48,48);
}

.nerds-logo:hover{
    fill:rgb(251,86,90);
}

.nerds-logo:active{
    fill:rgb(166,166,166);
}

.header-menu{
    display: flex;
    min-width: 440px;
    justify-content: space-between;
}
.header-basket__item,
.header-menu__item{
    font-size:16px;
    line-height: 30px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
    cursor:pointer;
}

.header-menu__item a{
    color:black;
    text-decoration: none;
}

.header-menu__item a:hover{
color:rgb(251,86,90);
}

.header-menu__item a:active{
    color:rgb(166,166,166);
}

.header-menu__item a:focus{
    box-shadow:0 3px 0 0 rgb(251,86,90);
}

.header-basket__item a {
   color: orange;
}


.header-basket{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width:109px;
}

.header-basket__item{
    font-size:16px;
    line-height: 30px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
}

.header-basket__item a{
    color:black;
    text-decoration: none;
}

.slider{
    width:1160px;
    height: 420px;
    position:relative;
    z-index: 0;
    background-color: rgb(238,238,238);
    overflow: hidden;
}

.slider__inner{
    position:relative;
    width:300%;
    height:100%;
    transition:transform 0.8s ease;
}


.slider input[type="radio"]{
    display: none;
}

.slider__item{
    width:1160px;
    height: inherit;
    float:left;
    position:relative;
    padding-top: 50px;
    overflow: hidden;

}

.slider__item img{
    position:absolute;
    top:-15px;
    left:380px;
}

.slider__item h1{
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 38px;
}

.slider__item p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 38px;
}

.slider__item button{
    padding:19px 55px 18px 53px;
    background-color:rgb(251,86,91);
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color:white;
    font-weight: 500;
}

.slider__item button:hover{
    background-color:rgb(231,66,70);
    cursor: pointer;
}

.slider__item button:active{
    background-color:rgb(215,55,59);
    box-shadow: 0 5px 0 0 inset rgba( 0,0,0, 0.3);
}

.slider__item b{}

.slider__controls label{
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius:50%;
    box-shadow: inset 0 0 0 2px lightgrey;
    cursor:pointer;
    background-color: white;
}

.slider__controls label:hover{
 background-color: darkgray;
}

.slider__controls{
    position: absolute;
    z-index: 1;
    left:50%;
    transform:translate(-50%);
    top:370px;
}

#btn-1:checked ~ .slider__inner{
 transform:translate(0);
}

 #btn-2:checked ~.slider__inner{
       transform:translate(-1150px);
   }

#btn-3:checked ~.slider__inner{
    transform:translate(-2300px);
}


#btn-1:checked ~ .slider__controls label[for="btn-1"]{
  background-color: darkgray;
}

.main-content{
    width: 1440px;
}

.range{
    width:1100px;
    margin-left: 140px;
    margin-top: 80px;
}

.range-menu{
    width: inherit;
    display: flex;
    justify-content: space-between;

}

.range-menu__item{
    list-style: none;
}


.range-menu__item img{
    margin-bottom: 26px;
}

.range-menu__item h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.range-menu__item p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.range-menu__item button{
    padding:19px 39px 18px 39px;
    font-size:16px;
    line-height:18px;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 80px;
    border:none;
    cursor:pointer;
}


.range-menu__item--red{
    background-color: rgb(251,86,90);
}

.range-menu__item--red:hover{
    background-color:rgb(231,66,70);
}

.range-menu__item--red:active{
    background-color: rgb(215,55,59);
    box-shadow: 0 5px 0 0 inset rgba(0,0,0, 0.3);
}

.range-menu__item--green{
    background-color:rgb(0,202,116);
}

.range-menu__item--green:hover{
    background-color: rgb(0,188,108);
}

.range-menu__item--green:active{
    background-color:rgb(0,170,98);
    box-shadow: 0 5px 0 0  inset rgba(0,0,0, 0.3);
}

.range-menu__item--yellow{
background-color: rgb(239,200,74);
}

.range-menu__item--yellow:hover{
    background-color:rgb(234,181,52);
}

.range-menu__item--yellow:active{
    background-color: rgb(229,167,34);
    box-shadow: 0 5px 0 0  inset rgba(0, 0, 0, 0.3);

}

.introduction{
    width:1160px;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

.introduction__LeftBlock{

}

.introduction__RightBlock{

}

.introduction__RightBlock h3{
    text-transform: uppercase;
    margin-bottom: 52px;
}

.introduction__RightBlock img{
    margin-bottom: 41px;
}

.introduction-description{
    display: flex;
    justify-content: space-between;
    width: 385px;

}

.introduction-description__item{
    list-style:none;
    font-size: 16px;
    line-height:18px;
    font-weight: 400;
}

.percent{
    font-size: 44px;
    line-height: 44px;
    vertical-align: top;
    font-weight: bold;
}

.sign{
    font-size: 28px;
    font-weight:700;
}

.introduction__state{
    font-size: 45px;
    line-height: 45px;
    font-weight:500;
}

.introduction__text{
    font-size: 16px;
    line-height: 24px;
}


.introduction-fieldset{
    border:none;
}

.introduction-fieldset legend{
    text-transform:uppercase;
    font-weight: bold;
    line-height: 24px;
    margin-bottom:34px;
}


.introduction__state{
    margin-bottom: 41px;
}

.introduction__text{
    margin-bottom: 46px;
}

.introduction-table{

}
.introduction-table tr td:nth-child(2),
.introduction-table tr td:nth-child(1){

    padding: 8px;
}


.labels{
    width:1090px;
    height: 181px;
    display:flex;
    margin:80px auto 80px;
}

.labels-menu{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.labels-menu__item{
    list-style: none;
}

.contacts{
    min-height:417px;
    width:1440px;
    margin:auto;
    border:1px solid black;
    position: relative;
}

.contacts-wrapper{
    width: inherit;
    height: inherit;
    position: absolute;
    z-index:1;
}

.contacts__write{
    width:319px;
    height: 308px;
    position:absolute;
    z-index: 3;
    left:100px;
    top:50px;
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    text-align: left;
}

.contacts__write p{
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
}

.contacts__write h3{
    font-size: 18px;
    line-height: 30px;

}

.contacts__write button{
    font-size:18px;
    line-height:50px;
    border:none;
    min-height: 50px;
    min-width:220px;
    background-color:rgb(251,86,90);
    text-transform: uppercase;
    color:white;
    margin-top: 20px;
    cursor: pointer;
}

.main-footer{
    display: flex;
    align-items: center;
    padding-left:144px;
}

.menu-references{
    display: flex;
    justify-content: space-between;
    margin-top:69px;
    margin-bottom: 76px;
    width: 240px;
}

.menu-references__item{
    width:78px;
    height:78px;
    background-color: rgb(225,225,225);
    border-radius:50%;
    list-style: none;

}


.menu-references__item a{
    width: 100%;
    height: 100%;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-references__item a:hover path{
    fill-opacity: 0.4;
}

.menu-references__item:hover{
    background-color: rgb(231,66,70);
    cursor:pointer;
}

.menu-references__item:hover{
    background-color: rgb(215,55,59);
}


.main-footer__text{
    margin-top:70px;
    margin-bottom: 76px;
    margin-left:139px;
}

.main-footer__text h2{
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.main-footer__text p{
    font-size:16px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 5px;
}

.modal{
    position: fixed;
    background: white;
    width:960px;
    height: 590px;
    z-index: 10;
    bottom:180px;
    left:50%;
    transform: translateX(-50%);
    padding:60px 100px;
    display: none;
}

.modal--open{
    display: block;
    animation-name:bounce;
    animation-duration:0.6s;
}

@keyFrames bounce{
    0%{transform:translate(-50% ,-3000px);}
    70%{transform:translate(-50% ,30px);}
    90%{transform:translate(-50%,-10px);}
    100%{transform:translate(-50%, 0);}
}


.modal label{
    display: block;
}

.modal-form{
    min-height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.form-name input,
.form-mail input{
    width: 360px;
    min-height: 50px;
    border:1px solid black;
}

.form-mail label,
.form-name label,
.form-textform label{
    font-weight: bold;
}

#area{
    width:760px;
    height: 118px;
}

.modal h2{
    font-size: 45px;
}

.modal-close{
    position:absolute;
    width: 21px;
    height: 21px;
    top:80px;
    right:100px;
    cursor:pointer;
}

.modal-close:after{
    content: " ";
    position:absolute;
    width:23px;
    height: 2px;
    background-color: red;
    left:0;
    transform:rotate(45deg);
}

.modal-close:before{
    content:" ";
    position: absolute;
    width:23px;
    height: 2px;
    background-color: red;
    left:0;
    transform:rotate(-45deg);
}

.modal-form__submit{
    width:260px;
    height: 50px;
    background-color: rgb(251,86,90);
    border:none;
    text-transform: uppercase;
    font-weight: normal;
    color:white;
}

/*---------------------------- catalog*/

.container{
    width:1456px;
    margin-top: 69px;
}

.catalog-header{
width:1456px;
background-color:rgb(238,238,238);
}

.catalog-header__state{
    text-align:center;
    font-size:55px;
    line-height: 55px;
    padding-bottom: 111px;
}

.aside-content{
    display:inline-block;
}

.aside-border{
    border:none;
}

.aside-content__legend{
    font-size:18px;
    font-weight: bold;
    text-transform: uppercase;
}

.first-legend{
    padding-bottom: 59px;
}

.second-legend{
    padding-bottom:15px;
    padding-top: 63px;
}

.runer{
    -moz-appearance: none;
    -webkit-appearance: none;
    display: block;
    width:260px;
    height: 80px;
    background-color:rgb(238,238,238);
    outline: none;
}

.runer::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:20px;
    height: 23px;
    background: url('../svg/filter-button.svg');
    margin-top: -10px;
}

.runer::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 2px;
    background-color:rgb(0,202,116);
    cursor:pointer;
}

.runer::-moz-range-thumb{
    width:20px;
    height: 23px;
    border-radius: 50%;
    border:1px solid black;
    background: url('../svg/filter-button.svg');
    cursor:pointer;
    outline: none;
}

.runer::-moz-range-progress{
    background: rgb(0,202,116);
}

.third-legend{
    padding-bottom: 15px;
    padding-top:63px;
}


.aside-form__span{
    display: inline-block;
    vertical-align: bottom;
}

.aside-form__text{
    display: inline-block;
    padding:13px 16px 13px 16px;
    background-color: rgb(238,238,238);
    margin-left: 11px;
    min-width: 40px;
    min-height: 40px;
    vertical-align: top;
}

input[type="range"]{
    padding:39px 20px;
}

.aside-content__button{
    font-size:16px;
    line-height: 18px;
    font-weight: 500;
    padding:19px 88px 18px 89px;
    text-transform: uppercase;
    background-color:rgb(238,238,238);
    margin-top: 50px;
    cursor: pointer;
}

.aside-content__button:hover{
   background-color: rgb(223,223,223);
}
.aside-content__button:active{
    background-color: rgb(213,213,213);
    box-shadow: 0 5px 0 0 inset rgba(0,0,0, 0.3);
}

.check-input{
    -moz-appearance: none;
    -webkit-appearance:none;
    position:absolute;
}

.check-radio{
    width:1.58em;
    height: 1.58em;
    position: absolute;
    background: url('../svg/radio-off.svg');
    margin-left: -35px;
    top:5px;

}

.check-input:checked + .check-radio{
    background: url('../svg/radio-on.svg');
}


.checkRadio{
margin-left:25px;
}

.checkRadio:hover{
    cursor:pointer;
}

.aside-content__table{}

.aside-content__table td{
    vertical-align: bottom;
    position: relative;
}

.aside-content__table label{
    font-size: 16px;
    line-height: 20px;
    font-weight:400;
}

.aside-content__table td{
    height: 30px;
    min-width: 20px;
}

input[type="checkbox"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    position:absolute;
}

.check__box{
    position:absolute;
    width:30px;
    height: 30px;
    margin-left: -30px;
    margin-top: -5px;
    background:url('../svg/checkbox-off.svg') no-repeat;
    cursor:pointer;
}

.checkLabel{
    margin-left: 20px;
    cursor:pointer;
}

.check__input:checked + .check__box{
    background: url('../svg/checkbox-on.svg')no-repeat;
}

.catalog-content{
    min-width:760px;
    display: inline-block;
    vertical-align: top;
    margin-left: 135px;
}

.catalog-content li{
    list-style: none;
}

.catalog-content li a{
    text-decoration: none;
    text-transform: uppercase;
}

.section-menu{
    display: flex;
    min-width: 265px;
    justify-content: space-between;
    margin-left: auto;
}

.section-menu__item a{
    font-size:14px;
    line-height: 18px;
    font-weight: 400;
    color:black;
}

.section-range{
    display: flex;
    padding-bottom: 59px;
}

.section-range h3{
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-range__arrows{
    margin-left: 53px;
    min-width: 43px;
    display: flex;
    justify-content: space-between;
}

.section-content{
    min-width: inherit;
}

.section-content__item{
    display: flex;
    justify-content: space-between;
}

.section-content__item:nth-child(1){
    padding-bottom: 33px;
}

.section-content__item:nth-child(2){
    padding-bottom: 33px;
}

.section-content__item:nth-child(3){
    padding-bottom: 60px;
}

.section-content__picture{
    min-height: 616px;
    min-width:360px;
    position: relative;
    cursor:pointer;
}

.section-content__picture--sedona{
    background:url('../img/sedona.png') bottom no-repeat;
}

.section-content__header{
    background-color:rgb(233,233,233);
    width:100%;
    min-height:40px;
    border-radius:5px 5px 0 0;
}

.content-backside{
    width:100%;
    min-height: 231px;
    background:rgb(238,238,238);
    position:absolute;
    bottom: 0;
    display: none;
    text-align: center;
}

.content-backside h3{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.content-backside p{
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    margin-top: 20px;
}

.content-backside a{
    display: block;
    font-size: 16px;
    line-height: 50px;
    min-height: 50px;
    width:200px;
    text-align: center;
    background-color:rgb(251,86,90);
    color:rgb(255,255,255);
    margin:auto;
    margin-top: 30px;
}


.section-content__picture:hover .content-backside{
    display: block;
}


.section-content__header:hover{
    background-color: rgb(77,77,77);
    cursor:pointer;
}

.section-content__picture--pink{
    background:url("../img/pink.png") bottom no-repeat;
}

.section-content__picture--borodinski{
    background: url('../img/barbershop.png') bottom no-repeat;
}

.section-content__picture--mishki{
    background: url('../img/mishka.png') bottom no-repeat;
}

.section-content__picture--study{
    background:url('../img/aplus.png') bottom no-repeat;
}

.section-content__picture--craft{
    background: url('../img/kvast.png') bottom no-repeat;
}


.main-selector__button{
    font-size:16px;
    line-height: 18px;
    font-weight: 500;
    padding:19px 79px 16px 78px;
    text-transform: uppercase;
    background-color: rgb(238,238,238);
    display: inline-flex;
    vertical-align: top;
    margin-bottom:60px;
    margin-left: 11px;
}

.main-selector__button:hover{
    box-shadow: 0 0 3px 0 black;
    cursor:pointer;
}

.section-selector{
    min-width:172px;
    display: inline-flex;
    justify-content: space-between;
}

.section-selector__item{
    width:54px;
    height: 56px;
    background-color: rgb(238,238,238);
    vertical-align: top;
    text-align: center;
    line-height: 50px;
    box-sizing: border-box;
    border:3px solid rgb(238,238,238);
}

.section-selector__item a{
    font-size: 16px;
    font-weight: 500;
    color:rgb(0,0,0);
}

.section-selector__item:hover{
    background-color: rgb(255,255,255);
    cursor:pointer;
    box-shadow: 0 0 3px 0 black;
}


.map{
    min-width:1440px;
    min-height: 420px;
}









